
summary {
    background-color: #7fa6d8;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }

  /* Existing styles for modal content */
.modal-content {
    background-color: #c6dbe3; /* Default background color */
    padding: 15px;
    border-radius: 10px;
}

/* Style for profile sections */
.profile {
    margin-bottom: 30px;
    text-align: center;
}

/* Style for profile images */
.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* Hover effect for profile images */
.profile img:hover {
    transform: scale(1.05);
}

/* Style for profile headings */
.profile h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

/* Style for profile descriptions */
.profile p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-top: 10px;
}

