/* Add or update these styles in your existing style.css file */

/* OC Profile Header Section */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #365366;
    color: #fff;
}


  /* Style for the content inside the details */
  details > div {
    background-color: #c6dbe3;
    padding: 10px;
  }
  details {
    margin-bottom: 10px;
  }


.people-info {
    max-width: 60%;
}

.people-info h1 {
    margin: 0;
}

/* OC Picture */
img {
    max-width: 200px;
    /* height: 50px; */
    /* border-radius: 50%; For circular images */
}



/* OC Profile Content Section */
.profile-content {
    max-width: 800px;
    margin: 20px auto;
}

/* Profile Navigation*/
.profile-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
} 

.profile-navigation li {
    margin-right: 20px;
}

.profile-navigation a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
} 

/* Profile Sections */
.profile-section {
    margin-top: 20px;
}

.profile-section h2 {
    color: #2e86de;
}

