{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/homepage.css' %}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    
    <title>Login Page</title>
  </head>
  <body>

  <!-- <header>
      <nav class="navbar">
          <a href="{% url 'home' %}" class="logo">Profile</a>
      </nav>
  </header> -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage' %}">
        <img src="{% static 'images/logo.png' %}" width="120" height="60" class="d-inline-block align-top" alt="">
        Ward Council Management
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Ward Council</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'police' %}">Police Station</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Complain Box
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="">To Ward Councilor Office</a>
                    <a class="dropdown-item" href="#">Police Station</a>
                    <a class="dropdown-item" href="#">Admin</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Forms
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="">Councilor Office forms</a>
                    <a class="dropdown-item" href="{% url 'police_service' %}">Police forms</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="">Feedback</a>
                    <a class="dropdown-item" href="#">About us</a>
                    <a class="dropdown-item" href="#">Contact</a>
                </div>
            </li>

        </ul>
    </div>
  </nav>


  {% if messages %}
    <div class="notification-container">
        <div class="notification">

            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</p>
            {% endfor %}

            <img id='cross' src="{% static 'images/close.png' %}" width="15px" height="15px" alt="">
        </div>
    </div>
    <script>
        var cross = document.getElementById('cross')
        cross.addEventListener('click', ()=> {
            document.getElementsByClassName('notification-container')[0].style.display = 'none';
        })
    </script>
    {% endif %}

    <main class="main-container">
        <div class="container ">
          <h1 class="signup-heading">Log in</h1>
            <div class="user-content-container user-profile-form-container">
              <form action="" method="POST">
                {% csrf_token %}
                  <ul>
                  <li class="name">
                      <label for="username">Username</label>
                      <input type="text" name="username" id="username" class="username-input" placeholder="Username">
                  </li>

                  <li class="pass">
                    <label for="">Password</label>
                    <input type="password" name = "password" id="password" class="pass-input" placeholder="Password">
                  </li>
       
                    <button class="signup-button"> Log in </button>
                    <p class="login-link"><a href="{% url 'forget_password' %}">Forgotten Password?</a></p>
                    <p class="login-link">Don't have an account?? <a href="{% url 'register' %}">Sign Up</a></p>
                  </ul>
              </form>

            </div>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>
  </body>
</html>
    
