{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <!-- jQuery and jQuery UI JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <style>
        .datepicker {
            z-index: 99999 !important; /* Ensure the datepicker appears above other elements */
        }
    </style>

    <title>Profile</title>
  </head>
  <body>

    <!-- <header>
        <nav class="navbar">
            <a href="{% url 'home' %}" class="logo">Profile</a>
                <a class="profile-icon-link-container" href="{% url 'logout' %}">
                    <div class="header-logout">Logout</div>
                </a>
        </nav>
    </header> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="{% static 'images/logo.png' %}" width="120" height="60" class="d-inline-block align-top" alt="">
            Ward Council Management
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Ward Council</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'police' %}">Police Station</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Complain Box
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="">To Ward Councilor Office</a>
                        <a class="dropdown-item" href="#">Police Station</a>
                        <a class="dropdown-item" href="#">Admin</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Forms
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="">Councilor Office forms</a>
                        <a class="dropdown-item" href="{% url 'police_service' %}">Police forms</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="">Feedback</a>
                        <a class="dropdown-item" href="#">About us</a>
                        <a class="dropdown-item" href="#">Contact</a>
                    </div>
                </li>
                <a class="profile-icon-link-container" href="{% url 'logout' %}">
                    <div class="header-logout">Logout</div>
                </a>
            </ul>
        </div>
    </nav>

    <main class="main-container">
            <form class = 'container' action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="profile-photo-container profile-photo-form-container">
                    <p class="profile-page-heading">Edit your profile</p>
                    <img src="{{user.profile.profile_img.url}}" alt="user-image" width="" srcset="">
                    {{form.profile_img}}

                </div>
            

                <div class="user-content-container user-profile-form-container">
                    <ul>
                        <li class="name">
                            <label for="user-name">Name</label>
                            <!-- <input type="text" name="" id="user-name" class="user-name-input" placeholder="Your Name"> -->
                            {{form.name}}
                        </li>
                        <li class="number">
                            <label for="user-number">Phone number</label>
                            <!-- <input type="text" name="" id="user-title" class="user-title-input" placeholder="Your Title"> -->
                            {{form.number}}
                        </li>

                        <li class="nid">
                            <label for="user-nid">NID</label>
                            <!-- <input type="text" name="" id="user-title" class="user-title-input" placeholder="Your Title"> -->
                            {{form.nid}}
                        </li>

                        <li class="dob">
                            <label for="user-dob">Date of birth</label>
                            {{ form.dob }}
                            <script>
                                $(function() {
                                    $("#id_dob").datepicker({
                                        dateFormat: 'yy-mm-dd',  // Set the date format
                                        changeMonth: true,
                                        changeYear: true,
                                        yearRange: "-100:+0"   // Allow selection of birthdates up to 100 years ago
                                    });
                                });
                            </script>
                        </li>

                        <!-- <li class="dob"> -->
                            <!-- <label for="user-dob">Date of birth</label> -->
                            <!-- <input type="text" name="" id="user-desc" class="user-desc-input" placeholder="Description"> -->
                            <!-- {{form.dob}} -->
                        <!-- </li> -->

                        <li class="desc">
                            <label for="user-desc">Address</label>
                            <!-- <input type="text" name="" id="user-desc" class="user-desc-input" placeholder="Description"> -->
                            {{form.desc}}
                        </li>
                    </ul>
                    <button class="profile-save-button"> Save </button>
                    
    
                </div>
                
            </form>
            
            <p class="profile-delete-button">Want to delete your account?? <a href="{% url 'delete_account' %}"> Delete </a></p>
            
    </main>

    <script>

    var id_name = document.getElementById('id_name')
    var id_number = document.getElementById('id_number')
    var id_nid = document.getElementById('id_nid')
    var id_dob = document.getElementById('id_dob')
    var id_desc = document.getElementById('id_desc')


    id_name.placeholder = 'Full name';
    id_number.placeholder = 'Phone number';
    id_nid.placeholder = 'NID number';
    id_dob.placeholder = 'Date of birth';
    id_desc.placeholder = 'Address';


    </script>

  </body>
</html